# KDE's Dolphin directory config files
.directory

# VSCode
.vscode

# PKGBUILD extras
packaging/PKGBUILD/.SRCINFO
packaging/PKGBUILD/.gitignore
packaging/PKGBUILD/README

# Local-only files
nyrna-release.txt
nyrna-requirements.txt

#
# Go .gitignore
#

# Binaries for programs and plugins
nyrna
!nyrna/
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

# Testing / scratch file
test.go
