name: nyrna
description: Suspend any game or application.
publish_to: "none"
version: 2.2.0

environment:
  sdk: ">=2.12.0 <3.0.0"

dependencies:
  args: ^2.2.0
  bloc_test: ^8.1.0
  equatable: ^2.0.3
  flex_color_picker: ^2.0.1
  flutter:
    sdk: flutter
  flutter_bloc: ^7.3.0
  http: ^0.13.3
  image: ^3.0.2
  logging: ^1.0.1
  native_platform:
    path: packages/native_platform
  path_provider: ^2.0.1
  pub_semver: ^2.0.0
  shared_preferences: ^2.0.5
  url_launcher: ^6.0.4
  win32: ^2.1.1
  win32_suspend_process: ^1.0.0
  yaml: ^3.1.0

dev_dependencies:
  flutter_test:
    sdk: flutter
  integration_test:
    sdk: flutter
  pedantic: ^1.11.0

flutter:
  uses-material-design: true
  assets:
    - assets/icons/
    - pubspec.yaml
