name: nyrna
description: Suspend any game or application.
publish_to: "none"
version: 2.6.0

environment:
  sdk: ">=2.16.1 <3.0.0"

dependencies:
  active_window:
    path: packages/active_window
  args: ^2.2.0
  desktop_integration:
    git:
      url: https://github.com/Merrit/desktop_integration.git
  equatable: ^2.0.3
  flutter:
    sdk: flutter
  flutter_bloc: ^8.0.0
  flutter_markdown: ^0.6.9+1
  flutter_window_close: ^0.2.2
  helpers:
    git:
      url: https://github.com/Merrit/helpers.git
  hotkey_manager: ^0.1.7
  http: ^0.13.3
  image: ^3.0.2
  logging: ^1.0.1
  native_platform:
    path: packages/native_platform
  package_info_plus: ^1.3.0
  path_provider: ^2.0.1
  pub_semver: ^2.0.0
  shared_preferences: ^2.0.5
  tray_manager: ^0.1.8
  url_launcher: ^6.0.4
  win32: ^2.1.1
  win32_suspend_process: ^1.0.0
  window_manager: ^0.2.5
  window_size:
    git:
      url: https://github.com/google/flutter-desktop-embedding.git
      path: plugins/window_size
      ref: 03d957e8b5c99fc83cd4a781031b154ab3de8753

dev_dependencies:
  flutter_lints: ^1.0.4
  flutter_test:
    sdk: flutter
  integration_test:
    sdk: flutter
  mocktail: ^0.2.0
  test: ^1.19.5

flutter:
  uses-material-design: true
  assets:
    - assets/icons/
    - packaging/linux/nyrna.desktop
