[Desktop Entry]
Type=Application
Name=Nyrna
Comment=Suspend games and applications
Exec=nyrna
Icon=codes.merritt.Nyrna
Terminal=false
StartupNotify=false
Categories=Utility;
Keywords=sleep;suspend;pause;games;resources;
StartupWMClass=Nyrna
