[Desktop Entry]
Type=Application
Name=Nyrna
Comment=Suspend games and applications
Exec=nyrna
Icon=nyrna
Terminal=false
StartupNotify=false
Categories=Utility;
