title: "Nyrna"
description: >- # this means to ignore newlines until "baseurl:"
  Suspend games and applications
logo: "/assets/images/nyrna.png"
minimal_mistakes_skin: dark
search: false
baseurl: "/"

# Build settings
markdown: kramdown
remote_theme: "mmistakes/minimal-mistakes@4.22.0"
# Outputting
permalink: /:categories/:title/

include:
  - _pages

# Plugins (previously gems:)
plugins:
  - jekyll-paginate
  - jekyll-sitemap
  - jekyll-gist
  - jekyll-feed
  - jemoji
  - jekyll-include-cache

defaults:
  # _pages
  - scope:
      path: "_pages"
      type: pages
    values:
      layout: single
      author_profile: false

category_archive:
  type: liquid
  path: /categories/
tag_archive:
  type: liquid
  path: /tags/
