name: Run tests

on:
  # Run on pull requests
  pull_request:
  # Allow being called by other workflows
  workflow_call:
  # Allow being called manually
  workflow_dispatch:

jobs:
  test:
    name: Test on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest]
    steps:
      - uses: actions/checkout@v3
      - uses: subosito/flutter-action@v2.3.0

      - name: Get Linux dependencies
        if: runner.os == 'Linux'
        shell: bash
        run: |
          sudo apt-get update -y
          sudo apt-get install -y wmctrl xdotool

      - name: Setup
        run: |
          flutter upgrade
          flutter pub get

      - name: Run tests
        run: flutter test
