name: Run tests

on:
  # Allow being called by other workflows
  workflow_call:
  # Allow being called manually
  workflow_dispatch:

jobs:
  test:
    name: Test on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest]
    steps:
      - uses: actions/checkout@v3
      - uses: subosito/flutter-action@v2

      - name: Get Linux dependencies
        if: runner.os == 'Linux'
        shell: bash
        run: |
          sudo apt-get update -y
          sudo apt-get install -y wmctrl xdotool

      - name: Setup
        run: |
          flutter pub get

      # https://github.com/flutter/flutter/issues/167982
      # https://github.com/flutter/flutter/pull/167029
      - name: Fix localizations formatting
        run: dart format lib/localization/ -l 90

      - name: Verify formatting
        run: dart format -o none --set-exit-if-changed --line-length=90 .

      - name: Run code generation
        run: flutter pub run build_runner build --delete-conflicting-outputs

      - name: Run i18n generation
        run: flutter gen-l10n

      # Disable temporarily until we can figure out how to make minor lints not 
      # cause the CI to fail completely. Should probably warn instead.
      # - name: Run lint
      #   run: flutter analyze

      - name: Run tests
        run: flutter test
